@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Color="Color.Primary" Fixed="false" Dense="true" class="d-inline-flex flex-column align-center align-content-center">
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Href="https://github.com/KaimDev/ToDoBlazor"/>
        <h3 class="TitleBar">To Do Made in Blazor</h3>
    </MudAppBar>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>